@use '../../styles/variables' as vars;

.sidebar-nav {
  width: vars.$sidebar-width;
  height: 100%; /* Ocupa toda la altura del menú */
  background: vars.$color-secondary;
  border-right: 3px solid vars.$color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
}
