@use '../../styles/variables' as vars;

.sidebar-nav {
  width: vars.$sidebar-width;
  height: 100vh; /* Ocupa toda la altura del menú */
  background: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  flex-shrink: 0;
  box-sizing: border-box;
  .sidebar-btn {
    width: 100%;
    height: 10vh;
    .sidebar-btn-icon {
      font-size: 5rem;
      color: var(--ion-text-color);
    }
  }
}
