@use 'shared/styles/variables' as vars;

/* Variables dinámicas de Safe Area se aplican desde app.component.ts */

:host ::ng-deep ion-app {
  /* Asegurar que ocupe toda la pantalla */
  width: 100vw !important;
  height: calc(100vh - var(--safe-area-bottom, 0px)) !important;
  // margin-bottom: 0 !important;
  margin-left: var(--safe-area-left, 0px) !important;
  margin-right: var(--safe-area-right, 0px) !important;
  // padding: 0px !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
}

ion-split-pane {
  --side-width: #{vars.$sidebar-width};
  --side-min-width: #{vars.$sidebar-width};
  --side-max-width: #{vars.$sidebar-width};

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
}

ion-menu {
  --background: var(--ion-color-secondary);
  --color: var(--ion-text-color);

  /* El menú hereda la altura del split-pane */
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ion-page {
  background: var(--ion-background-color);

  /* La página ocupa todo el espacio del split-pane */
  flex: 1;
  height: 100%;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
