/* Variables CSS - Texto por Voz */

/* Ancho de la barra lateral */
$sidebar-width: 10vw;

/* Colores principales del tema */
$color-primary: #ffd600; // Amarillo brillante
$color-secondary: #222222; // Negro
$color-background: #ffffff; // Blanco
